/* フォント設定 */
body {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
  }
  
  /* ルート要素のフォントサイズ */
  :root {
    font-size: 20px;
  }
  
  /* h1のスタイル */
  h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em; /* ルート要素の2倍 */
    letter-spacing: 1.2em; /* 文字間1.2倍 */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid rgb(115, 115, 114);
  }
  
  /* カラー設定 */
  .blue {
    color: skyblue;
  }
  
  .pink {
    color: rgb(255, 192, 203);
  }
  
  /* 太字設定 */
  #basic p {
    font-weight: bold;
  }
  